<phpunit bootstrap="./test/bootstrap.php">
    <testsuites>
        <testsuite name="Unitests">
            <directory>./test/Unitest</directory>
        </testsuite>
        <testsuite name="Integrationtests">
            <directory>./test/Integrationtest</directory>
        </testsuite>
    </testsuites>
</phpunit>
